<div class="card">
	<div class="card-body">
		<h5 class="card-title border-bottom pb-2">{{ 'sylius.ui.taxes'|trans }}</h5>
		{{ form_row(form.taxCategory) }}
		<h5 class="card-title border-bottom pb-2 mt-4">{{ 'threebrs.ui.payment_charges'|trans }}</h5>
		{{ form_row(form.calculator) }}
		{% for name, calculatorConfigurationPrototype in form.vars.prototypes %}
			<div id="{{ form.calculator.vars.id }}_{{ name }}" data-container=".calculatorConfiguration"
				 data-prototype="{{ form_widget(calculatorConfigurationPrototype)|e }}">
			</div>
		{% endfor %}
		<div class="border rounded p-3 calculatorConfiguration">
			{% if form.calculatorConfiguration is defined %}
				{% for field in form.calculatorConfiguration %}
					{{ form_row(field) }}
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
